---
layout: archive
---

{{ content }}

{% assign latest_post = site.posts.first %}

{% if latest_post %}
<div id="main" role="main">
  {% include sidebar.html %}

  <article class="page" itemscope itemtype="https://schema.org/CreativeWork">
    {% if latest_post.title %}<meta itemprop="headline" content="{{ latest_post.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if latest_post.excerpt %}<meta itemprop="description" content="{{ latest_post.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if latest_post.date %}<meta itemprop="datePublished" content="{{ latest_post.date | date_to_xmlschema }}">{% endif %}
    {% if latest_post.last_modified_at %}<meta itemprop="dateModified" content="{{ latest_post.last_modified_at | date_to_xmlschema }}">{% endif %}

    <div class="page__inner-wrap">
      <header>
        {% if latest_post.title %}<h1 id="page-title" class="page__title" itemprop="headline"><a href="{{ latest_post.url | relative_url }}" rel="bookmark">{{ latest_post.title | markdownify | remove: "<p>" | remove: "</p>" }}</a></h1>{% endif %}
        {% assign page = latest_post %}
        {% include page__meta.html %}
      </header>

      <section class="page__content" itemprop="text">
        {% if latest_post.toc %}
          <aside class="sidebar__right {% if latest_post.toc_sticky %}sticky{% endif %}">
            <nav class="toc">
              <header><h4 class="nav__title"><i class="fas fa-{{ latest_post.toc_icon | default: 'file-alt' }}"></i> {{ latest_post.title }}</h4></header>
              {% include toc.html sanitize=true html=latest_post.content h_min=1 h_max=6 class="toc__menu" %}
            </nav>
          </aside>
        {% endif %}
        {{ latest_post.content }}
      </section>

      <footer class="page__meta">
        {% if site.data.ui-text[site.locale].meta_label %}
          <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
        {% endif %}
        {% assign page = latest_post %}
        {% include page__taxonomy.html %}
        {% include page__date.html %}
      </footer>

      {% if latest_post.share %}{% assign page = latest_post %}{% include social-share.html %}{% endif %}
    </div>
  </article>

  <div class="page__related">
    <h4 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "You May Also Enjoy" }}</h4>
    <div class="grid__wrapper">
      {% for post in site.posts limit:5 %}
        {% if post.url == latest_post.url %}
          {% continue %}
        {% endif %}
        {% include archive-single.html type="grid" %}
      {% endfor %}
    </div>
  </div>
</div>
{% else %}
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>
<p>No posts yet.</p>
{% endif %}
